<div class="row justify-content-center">
    <div class="col-sm-4">
        <form action="/create" method="post" id="billform">
            <div class="mb-3">
                <label for="title" class="form-label">Name of the bill:</label>
                <input type="text" class="form-control" name="title" id="title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">What is this bill for?</label>
                <input type="text" class="form-control" name="description" id="description">
            </div>
            <div class="mb-3">
                <label for="amount" class="form-label">Bill Amount: $</label>
                <input type="number" class="form-control" name="amount" id="amount">
            </div>
            <div class="mb-3">
                <label for="due_date" class="form-label">Full Payment Due Date</label>
                <input type="date" class="form-control" name="due_date" id="due_date">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
