<div class="row justify-content-center">
    <div class="col-sm-4">
        
        <form action="/bills/create" method="post">
                <h2 class="justify-content-center">Add a bill that you want tracked</h2>
                Title
                <input type = "text" name="title" placeholder="Title"></input>
                Description
                <input type= = "text" class='form-control' name="description" placeholder="description"></input>
                Amount
                <input type= = "number" class='form-control' name="amount" placeholder="amount"></input>
                Due Date
                <input type= = "date" class='form-control' name="due_date" ></input>

                <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        </form>

    </div>
</div>