<div class="welcome-mess row">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">All Your Bills Due Under One Window</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Take pride in paying all your bills on time. The tool to help you organize your payments while really seeing how much you owe. 
      Here to help you stay on track & pay on track.
    </p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a href="/signup" class="btn btn-warning btn-lg px-4 gap-3">Join Us</a>
  </div>
  </div>
  </div>
</div>
<div class="homeInfo row justify-content-center">
    <div class="col-5 text-center">
        <h1> How does it work? </h1>
        <p>You simply add a bill that needs to be paid off, with the amount and due date information.</p>
        <p>You can then take a look at all your bills that you've added to keep track </p>
    </div>
    <div class="col-5 text-center">
        <h1>Curious about the interest on your bills? </h1>
        <p>When signing up, you have access to the interest calculator which will help you figure out how much you'll be paying overall yearly or monthly.</p>
        <img src="/images/calculator.png" alt="" width="500" height="500" style="border: 2px inset rgba(236, 235, 225, 0.829);">
    </div>
</div>

