<div class="row text-info bg-dark">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">WELCOME TO PAY ON TRACK!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Keep a close eye on your bills and take charge of paying them off on time. We know sometimes we forget about them but that's why we're here to help. Help you stay on track and pay on track.</p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a href="/signup" class="btn btn-success btn-lg px-4 gap-3">Sign Up</a>
    {{!-- <button type="button" class="">Sign up</button> --}}
    <button type="button" class="btn btn-outline-success btn-lg px-4">Read More</button>
  </div>
  </div>
  </div>
</div>
<div class="row bg-dark text-info">
    <div class="col-12 text-center">
        <h1>What is PayOnTrack?</h1>
        <p>Here is a tool that is going to help you commit & stay on track to paying your bills and killing any debt while keeping track of it the whole way down!</p>
        <p>
    </div>
    <div class="col-12 text-center">
        <h1>How does it work? </h1>
        <p>You simply add a bill that needs to be paid off, with the amount and due date information.</p>
        <p>You can then take a look at all your bills that you've added to keep track </p>
    </div>
</div>

