<div class="page-container">
    <div class="form-box">
        {{> flash-messages}}
        <h1>Welcome Back</h1>
        
        <form action="/login" method="post" id="loginform">
            <div class="mb-3">
                <label for="username" class="form-label">Enter your username:</label>
                <input type="text" class="form-control italic-placeholder" name="username" id="username" placeholder="'Username'">
            </div>

            <div class="mb-4">
                <label for="password" class="form-label">Enter your password:</label>
                <input type="password" class="form-control italic-placeholder" name="password" id="password" placeholder="'Password'">
            </div>

            <button type="submit" class="btn btn-form-primary">Log In</button>
        </form>
    </div>
</div>
