<div class="row justify-content-center text-info">
    <div class="col-sm-4">
        <form action="/login" method="post" id="loginform">
            <div class="mb-3">
                <label for="username" class="form-label">Enter your username: </label>
                <input type="text" class="form-control" name="username" id="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Enter your password: </label>
                <input type="text" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>