<div class="page-container">
    <div class="form-box">
        <h1>Create Your Account</h1>
        
        <form action="/signup" method="post" id="signupform">
            <div class="mb-3">
                <label for="username" class="form-label">Create a username:</label>
                <input type="text" class="form-control italic-placeholder" name="username" id="username" placeholder="'JohnDoe34'">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Create a password:</label>
                <input type="password" class="form-control italic-placeholder" name="password" id="password" placeholder="'Password'">
            </div>

            <div class="mb-4">
                <label for="confirmPassword" class="form-label">Please re-enter password:</label>
                <input type="password" class="form-control italic-placeholder" name="passwordVerify" id="passwordVerify" placeholder="'Password'">
            </div>

            <button type="submit" class="btn btn-form-primary">Create Account</button>
        </form>
    </div>
</div>