
/* HOME.HBS STYLING */

.welcome-mess h1 {
    color: #000000;
}

.welcome-mess {
    background-color: white;
    font-family: 'Bricolage Grotesque', sans-serif;    
}
.homeInfo {
    background-color: white;
    font-family: 'Bricolage Grotesque', sans-serif; 
}


/*  */
body {
    background-color:rgb(241, 194, 65);
    font-size:larger;
    color: rgb(0, 0, 0);
}
/* Navigation Bar Styling */
.mainNav{
    background-color: rgb(241, 194, 65);
    height: 60px;
}

.nav-link {
    color: #000000;
}
.nav-link:hover {
    color: white;
}

/* Interest Calculators Styling */
.interest-calc{
    color: white;
    border-radius: 25px;
    border-style:2px solid;
    background-color: rgb(48, 37, 37);
    font-family: 'Bricolage Grotesque', sans-serif; 
}

/* Forms styling */
.login-up-form{
    color: white;
    border-radius: 25px;
    border-style:5px solid;
    background-color: rgb(48, 37, 37);
    font-family: 'Bricolage Grotesque', sans-serif; 
}

.submitButton {
    background-color: rgb(241, 194, 65);
    color: rgb(48, 37, 37);
    border-radius: 70px;
    margin-top: 4px;
    border-style:3px solid;
    font-size: 21px;
    font-family: 'Bricolage Grotesque', sans-serif; 
    width: 8rem;
}

/* Footer Styling */
.paytrackFooter {
    color: #000000;
}

/* public/css/style.css */
.italic-placeholder::placeholder {
  font-style: italic;
}