
/* HOME.HBS STYLING */

.welcome-mess h1 {
    color: #000000;
}

.welcome-mess {
    background-color: white;
    font-family: 'Bricolage Grotesque', sans-serif;    
}
.homeInfo {
    background-color: white;
    font-family: 'Bricolage Grotesque', sans-serif; 
}


/*  */
body {
    background-color:rgb(241, 194, 65);
    font-size:larger;
    color: rgb(0, 0, 0);
}
.mainNav{
    background-color: rgb(241, 194, 65);
    height: 60px;
}

.nav-link {
    color: #000000;
}
.nav-link:hover {
    color: white;
}

.interest-calc{
    color: rgb(0, 0, 0);
    border-radius: 25px;
    border-style:2px solid;
    box-shadow: 6px 6px ;
}

.login-up-form{
    color: rgb(98, 26, 139);
    border-radius: 25px;
    border-style:2px solid;
    box-shadow: 6px 6px;
}
a:active {
    color: rgb(98, 26, 139);
}